

html {
  position: relative;
  min-height: 100%;
}

@font-face { 
	 font-family: tangak;
	src: url(10945.ttf);
	
}
body{
	font-family:tangak, Sans-Serif;
	font-size: 110%;
	 margin-bottom: 60px;
	
}

.offcanvas{
	width:15%;
}



.navMenu{
	background-color: #482c2e;
	border-color: #482c2e;

}
.navbar-default a {
	color: #fff4f4;
}

.navCategory{
 	background-color:#5c3234; 
 	color:#02d1fd;
 }
 .linkCategory{
 	color:#482c2e;	
 }
.carousel, .carousel-item {
    height: 376px;
 	max-width: 100%;
}
.carousel-item img{
	width: 100%;
	height: auto;
}


.navbar-default li {
   float:left;
    position:relative;
	text-align: center;
}
@media screen and (min-width:1300px) {
	

.navbar-default li {

	 padding-right: 50px;
	 padding-left: 50px;
}
}
.logo{
	width: 75px;
}


.header{
	padding-top: 5%;
}

.navCategory{
	background-color: #482c2e;
    font-size:20px;
    color:white;}


h2{
	
	font-size:200%;
}

@media (min-width: 0) {
  .tog{
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .cat {
    right: auto;
    background: none;
    border: none;
  }
}



@media screen and  (max-width:960px) 
{
	.navbar-default li {
	 padding-right: 10px;
	 padding-left: 10px;

 }
 .form-inline, .translate, .logotip{
		display: none;
	}
}
 @media screen and (min-width:1200px) and (max-width:1300px)
{
	.navbar-default li {

	 padding-right: 20px;
	 padding-left: 20px;
	}
}

@media screen and (min-width:960px) and (max-width:1200px)
{
		.navbar-default li {

	 padding-right: 13px;
	 padding-left: 13px;
	}
}


.header{
	margin-top: 60px; 
	background-color:#ffffff;
	text-align: center;
	position: relative;
}


.translate{
	text-align: left;
	
	font-size:140%

}
.rounded-circle{
	position	: relative;
width:160px;
 height:160px;
}
.number{
position	: absolute;
	top		:-5px;
	left		: 0;
	width		: 100%;
}
.number span {
	color			: white;
font-size: 130px;

}
.jumbotron
{
	background-color:#fdfdfd;
}

.filter{
	background-color:#fff4f4;
	
}
.filterform{
	padding: 10px;
}


#input-select,
#input-number {
	width: 70px;
}
#html5, #complexity{
	max-width: 230px;
}
#input-complexity{
	width: 60px;
}



/* Sticky footer styles
-------------------------------------------------- */


.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color:  #482c2e;
  
}


.footer a{
	margin-left: 3%;
	color:#b3acaf;
	}
	
.footer a:hover{
	color:#ffffff;
	text-decoration: none;
	}

